@import "tailwindcss";

@theme {
    --color-whiteText: #fff;
    --color-darkText: #000000;
    --color-lightText: #9b9b9b;
    --color-greenText: #1d8221;
    --color-redText: #E02B2B;
    --color-skyText: #32BDE8;
    /* ... */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  

  
